<div class="grid_8 alpha">
  <div class="block sidebar">
    <h3>Topics <span class="sub-title">Join any conversation</div></h3>
    <div class="topic-block-list chat-topics-sidebar">
      <%= topics %>
    </div>
  </div>
  
  <div class="grid_16 omega">
    <div class="block">
      <div class="user-wrapper">
        <% if current_user.nil? %>
          <%= link_to 'facebook/connect', "", "social-login fb-login" %>
          <%= link_to 'twitter/connect', "", "social-login tw-login" %>
        <% else %>
          Sup, <%= current_user.first_name %>?
          <%= link_to 'logout', "Sign out", "" %>
        <% end %>
      </div>
      <div class="main-content">
      </div>
    </div>
  </div>
</div>


